<div class="row">
  <div class="col-md-6 offset-md-3 col-12">
    <div class="edit_user">
    <div class="card">
      <div class="card-header text-center">
        <div>Edit <%= resource_name.to_s.humanize %></div>
      </div>
      <div class="card-block">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Username" %>
          </div>

          <div class="form-group">
            <%= f.text_field :email, class: 'form-control', placeholder: "Email" %>
          </div>
<% if false %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="form-group">
            <%= f.email_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password(Leave blank if you don't want to change it)" %>
          </div>

          <div class="form-group">
            <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: "Password( confirmation )" %>
          </div>

          <div class="form-group">
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: "Your current password" %>
          </div>
<% end %>
            <%= f.submit "Update", class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
      <div class="card-footer text-center">
        <%= button_to registration_path(resource_name), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' do %>
          <i class="fa fa-ban" aria-hidden="true"></i> Delete my account
        <% end %>
      </div>
    </div>
  </div>
</div>
