<div class="row">
  <div class="offset-2 col-8">
    <div class="sign_in_form">
    <div class="card">
      <div class="card-header text-center">
        <div>Login to Foodman.</div>
        <div>
          <%= link_to user_facebook_omniauth_authorize_path, class: 'btn btn-lg btn-primary' do %>
            <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i> Log in with Facebook
          <% end %>
        </div>
        <div class="line">OR</div>
      </div>
      <div class="card-block">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <%= devise_error_messages! %>

          <div class="form-group">
            <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Email" %>
          </div>
          <div class="form-group">
            <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: "Password" %>
          </div>
          <% if devise_mapping.rememberable? -%>
            <div class="form-group">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end -%>
          <div class="actions">
            <%= f.submit "Log in", class: 'btn btn-primary btn-block' %>
          </div>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>


<%#= render "devise/shared/links" %>