<!DOCTYPE html>
<html>
  <%= render 'layouts/meta_tags' %>

  <body>
    <%= render 'layouts/navbar' %>

    <div class="container">
      <%= render 'layouts/flash_messages' %>
      <%= yield %> 
    </div>

    <%= render 'layouts/footer' %>
  </body>
</html>